.field-validation-error {color: #f00;}
.field-validation-valid {display: none;}
.input-validation-error {border: 1px solid #f00; background-color: #fee;}
.validation-summary-errors {font-weight: bold; color: #f00;}
.validation-summary-valid {display: none;}
.btn{
    text-align:left;
    
}
.btn-info {
  color: #fff;
  background-color: #f69454;
  border-color: #2b292a;
  border-radius:0px 0px;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #f69454;
  border-color: #f69454;
}

.btn-info:hover {
  color: #fff;
  background-color: #f69454;
  border-color: #f69454;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #f69454;
  border-color: #f69454;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #f69454;
  border-color: #f69454;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-block{
    color:#ee693f;
    
}
.btn-block:hover{
    color:#ede8e2;
}
.btn-info:enabled{
    color:#ede8e2;
}

.well-my {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(176, 111, 57, 0.84);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color:#fcfdfe;
  background-image:url(https://images.pexels.com/photos/668141/pexels-photo-668141.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  
 
  border-color: #dcdcdc;
 
}

